body {
    background-image: url(myBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#myClock {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: maroon;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
}